 *{
  overflow-x: hidden;
} 
body{
  font-size: 62.5%;
 /* font-size: 1rem;
  font-size: 10px; */
}
/* CloseFriend */
.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.sidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1.0rem;
}

/* end */

/* FEED */
.feed{
  flex:5.5
}

.feedWrapper{
  padding: 1.0rem;
}
/* end */
/* Online */
.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;

}

.rightbarProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  
}

.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.rightbarUsername{
    font-weight: 500;
}
/* end */
/* post */
.post {
  width: 100%;
  border-radius: 1.0rem;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
  font-size: 1.5rem;
}

.postWrapper {
  padding: 1.0rem;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 10px;
  
}

.postDate{
    font-size: 1.2rem;

}

.postCenter{
    margin: 20px 0;
}

.postImg{
    margin-top: 2.0rem;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.postBottomLeft{
    display: flex;
    align-items: center;   
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
    cursor: pointer;


}

.postLikeCounter{
    font-size: 1.5rem;

}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 1.5rem;
}
/* end */
/* rightbar */
.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbarTitle{
    margin-bottom: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarTitle{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightbarInfo{
  margin-bottom: 30px;
}

.rightbarInfoItem{
  margin-bottom: 10px;
}

.rightbarInfoKey{
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbarInfoValue{
  font-weight: 300;
}

.rightbarFollowings{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbarFollowingImg{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
/* end */
/* share */
.share {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
font-size: 1.5rem;
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1.0rem;
}

.shareInput {
  border: none;
  width: 80%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 2.0rem;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
}

.shareOptions{
    display: flex;
    margin-left:0.3rem;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 0.3rem;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 0.2rem;

}

.shareIcon{
  /* font-size: 0.8rem; */
  margin-right: 0.3rem;
}

.shareOptionText{
    /* font-size: 0.8rem; */
    font-weight: 500;
}

.shareButton{
    border: none;
    padding: 0.5rem;
    border-radius:0.5rem;
    background-color: green;
    font-weight: 500;
    margin-right: 1.0rem;
    cursor: pointer;
    color: white;
}
/* end */

/* sidebar */
.sidebar {
  /* flex: 3; */
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 10px;
  font-size: 1.1rem;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 100%;
  border: none;
  padding: 1.0rem;
  border-radius: 0.5rem;
  font-weight: 500;

}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}


/* end */
/* topbar */
.topbarContainer{
  height: 50%;
  width: 100%;
  background-color: #1877f2;
  position: sticky;
  top: 0;
  z-index: 999;
  font-size: 1.1rem;
}

.logo {
  font-size: 1.4rem;
  margin-left: 2.0rem;
  font-weight: bold;
  color: white;
  cursor: pointer;

}

/* .topbarCenter {
  flex: 5;
} */

.searchbar {
  width: 100%;
  height: 30%;
  background-color: white;
  border-radius: 3.0rem;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 1.0rem;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink {
  margin-right: 1.0rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 1.5rem;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
/* end */
/* house */
.homeContainer{
  display: flex;
  width: 100%;
}
/* end */
/* login */
.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  /* margin-bottom: 10px; */
}

.loginDesc {
  font-size: 24px;
}

.loginBox{
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}

.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
/* end */
/* profile */
.profile{
  display: flex;
}

.profileRight{
  flex: 9;
}

.profileCover{
  height: 320px;
  position: relative;
}

.profileCoverImg{
  width: 100%;
  height: 250px;
  object-fit: cover;

}

.profileUserImg{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
}

.profileInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName{
  font-size: 24px;
}

.profileInfoDesc{
  font-weight: 300;
}

.profileRightBottom{
  display: flex;
}
/* end */
/* register */
.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
} */

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
}

.loginBox{

  padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}

.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
/* ends */



@media (max-width:998px) {
  html{
    font-size: 55%;
  }
}
@media (max-width:768px) {
  html{
    font-size: 45%;
  }
}